* {
    padding: 0px;
    margin: 0px;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

header {
    position: relative;
    width: 100vw;
    height: 100px;
}

header > h1 {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}

header > #add_button {
    position: absolute;
    display: inline-block;
    text-decoration: none;

    font-size: 30px;
    font-weight: 530;
    border: 2px solid green;
    color: green;
    background: none;
    /* border: 1px solid #B8DCE3;
    background-color: #B8DCE3;
    */
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    width: 100px;
    height: 40px;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}

header > .add_button:active {
    border: none;
    background-color: green;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    height: 100vh;
}

main > #todo {
    position: flex;
    width: auto;
    height: 100vh;
}

main > #todo > .will_do {
    position: relative;
    display: none;
    margin: 10px 0;
    width: 500px;
    height: 60px;

    left: 50%;
    transform: translateX(-50%);

    list-style: none;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3);
}

main > #todo > .will_do > .checkbox {
    position: relative;
    display: block;
    
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

main > #todo > .will_do > .checkbox > input[type=checkbox] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

main > #todo > .will_do > .checkbox > .on_check {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 30px;
    height: 30px;
    background: none;
    border: 2px solid black;
    border-radius: 50%;
}

main > #todo > .will_do > .checkbox > input:checked + .on_check {
    background-color: green;
    border: 2px solid green;
}

.on_check::after {
    content: "";
    position: absolute;
    display: none;
}

main > #todo > .will_do > .checkbox > input:checked + .on_check::after {
    display: block;
}

main > #todo > .will_do > .checkbox > .on_check::after {
    width: 5px;
    height: 14px;

    left: 11px;
    top: 20%;

    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

main > #todo > .will_do > .will_do_text {
    position: absolute;
    font-size: 25px;

    left: 100px;
    top: 50%;
    transform: translateY(-50%);

    width: 350px;

    border: none;
}

main > #todo > .will_do > .will_do_text:focus {
    outline: none;
    border-bottom: 1px solid rgb(192, 192, 192);
}

main > #todo > .will_do > .will_do_text:disabled {
    background: none;
    text-decoration: line-through;
}

/*
main > #todo > input[type=text] {
    position: absolute;
    border: none;
    outline: none;
    width: 400px;
    height: 40px;

    font-size: 25px;
    left: 80px;
    top: 10px;
}

main > #todo > .input_border {
    display: none;
}

main > #todo > input[type=text]:focus + .input_border {
    position: absolute;
    display: inline-block;

    border: 1px solid rgb(197, 197, 197);
    width: 398px;
    left: 80px;
    top: 50px;
}
*/